body {
  margin: 0px;
  margin: 0px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.header {
  color: #e5e7eb;
  background-color: #1f2937;
  padding: 40px;
  height: 550px;
  font-size: 20px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}
.header-top {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 0 180px;
  align-items: center;
}
.header-title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  gap: 150px;
}
.signupbuttonheader {
  padding: 5px 35px;
  border-radius: 9px;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  width: 150px;
  border: none;
}
ul {
  display: flex;
  gap: 50px;
  font-size: 16px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #f9faf8;
}
.header-left {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-right {
  display: flex;
}
.main-photo {
  border-radius: 9px;
  height: 350px;
}
.middle-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin: 35px;
}
.middle-part {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.sport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sport-examples {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
  padding: 35px;
}
.middle-part img {
  display: flex;
  align-items: center;
  border-radius: 9px;
  height: 300px;
  width: 250px;
  justify-content: center;
}
.sport-information {
  text-align: center;
  width: 300px;
  padding: 10px;
}
.middle-quote {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
}
.middle-quote-text {
  width: 800px;
  font: italic;
  font-size: 36px;
  color: #1f2937;
}
.middle-quote-author {
  width: 800px;
  font-size: 30px;
  align-self: flex-end;
  font-weight: bold;
}

.signup {
  display: flex;
  height: 200px;
  width: 1000px;
  justify-content: space-evenly;
  align-items: center;
  background: #3882f6;
  color: #e5e7eb;
  border-radius: 9px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.signup-left {
  font-size: 19px;
  font-weight: bold;
  font-family: sans-serif;
}
.signupbutton {
  border: solid 2px #e5e7eb;
  padding: 5px 35px;
  border-radius: 9px;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  display: flex;
}

.footer {
  display: flex;
  height: 15px;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding: 35px;
}
